.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

    border-bottom: solid rgb(195, 195, 195) 1px;
    
}

.aktiviteter{
    margin-bottom: 40px;
    
}

.aktivitet1{
}

.aktivitet2{
}

.aktivitet3{
}

