.grid-footer{
    display: grid;
    grid-template-columns:26% 12% 12% 11.2% 1fr;
    background-color: lightgrey;
}

.footer-container{
    
    
}


.footer-container1{
    grid-column: 2/3;
    
}

