header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logocontainer{
    width: 100%;
}

.moellerupLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}